{% extends "layout.html" %}

{% block contents %}
    <div class="llCommentDelete">
{#        <div class="alert alert-warning alert-dismissible" role="alert">#}
{#            <button type="button" class="close" data-dismiss="alert">#}
{#                <span aria-hidden="true">&times;</span>#}
{#                <span class="sr-only">Close</span>#}
{#            </button>#}
{#            <strong>경고!</strong> 댓글이 완전히 삭제되니, 다시 한번 확인하시기 바랍니다.#}
{#        </div>#}

        <form role="form" method="post">
            <input type="hidden" name="comment_id" value="{{ comment_id }}">
            <div class="form-group">
                <label for="password">댓글 비밀번호를 입력하세요.</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요."/>
            </div>

            <button type="submit" class="btn btn-danger float-right">댓글삭제</button>
        </form>
    </div>
{% endblock %}

