{% extends "layout.html" %}
{% block body %}

   <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
         <dt>Title:
         <dd><input type="text" size=30 name="title">
         <dt>Text:
         <dd><textarea name="contents" rows=5 cols=40></textarea>
         <dd><input type="submit" value="POST">
      </dl>
   </form>

      <a href="{{ url_for('up_entry') }}">
      <button>{{ '오름차순' }}</button>
      </a>
      <a href="{{ url_for('down_entry') }}">
      <button>{{ '내림차순' }}</button>
      </a>
   <ul class="entries">
   {% for entry in entries %}
      <li>
         <h2>{{ entry['title'] }}</h2>
         {{ entry['contents'] }}
      </li>
      <a href="{{ url_for('plus_entry', idx=entry['num'])}}"><button>{{"+"}}</button></a>
      <button>{{ entry['count'] }}</button>
      <a href="{{ url_for('minus_entry', idx=entry['num'])}}"><button>{{"-"}}</button></a>
      <a href="{{ url_for('del_entry', idx=entry['num'])}}"><button>삭제</button></a>
      <a class="modify-text">
			<button>수정</button>
			<div>
				<form action="{{ url_for('modify_entry', idx=entry['num']) }}" method="GET">
					<dl>
					<dt>Title:</dt>
					<dd><input type="text" size=30 name="title"></dd>
					<dt>Text:</dt>
					<dd><textarea name="contents" rows=5 cols=40></textarea></dd>
					<dd><input type="submit">
					</dl>
				</form>
			</div>
		</a>
   {% else %}
      <li>
         <em>Unbelievable.  No entries here so far</em>
      </li>
   {% endfor %}
   </ul>
{% endblock %}