<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>GET / POST</title>
</head>
<body>
   <div>
      GET : 
      <form action="index" method="get">
         <input type="text" name="text_get">
         <input type="Submit" value="Submit">
      </form>
      
      <p>
      <a href="https://www.google.co.kr/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#newwindow=1&q=likelion">
      Google
      </a>
      </p>
      <p>
      <a href="http://search.naver.com/search.naver?where=nexearch&query=likelion&sm=top_hty&fbm=0&ie=utf8">
      Naver
      </a>
      </p>
      <p>
      <a href="http://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&o=&q=likelion">
      Daum
      </a>
      </p>
   </div>

   <div>
      POST : 
      <form action="index" method="post">
         <input type="text" name="text_post">
         <input type="Submit" value="Submit">
      </form>
      
      <p>
      <a href="https://www.google.co.kr/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#newwindow=1&q=likelion">
      Google
      </a>
      </p>
      <p>
      <a href="http://search.naver.com/search.naver?where=nexearch&query=likelion&sm=top_hty&fbm=0&ie=utf8">
      Naver
      </a>
      </p>
      <p>
      <a href="http://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&o=&q=likelion">
      Daum
      </a>
      </p>

    </a>
   </div>

</body>
</html>